# System files
.DS_Store
Thumbs.db

# IDEs and editors
.idea/

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
!.vscode/*.code-workspace

# Python virtual environments
.venv/

# Python cache dirs and files
__pycache__/
*.py[cod]

# Node environment
node_modules/

# Tailwind CSS output
output.css
