<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Simple WebSocket Chat</title>
        <link rel="stylesheet" href="/static/css/output.css" />
    </head>
    <body class="bg-slate-50">
        <main class="container mx-auto flex flex-col gap-4 p-4">
            <h1 class="text-3xl">WebSocket Chat</h1>
            <div class="grid grid-cols-3 gap-4">
                <div class="col-span-1 flex flex-col gap-4">
                    <p class="rounded border bg-yellow-50 px-4 py-2 text-sm text-slate-700 shadow-sm">To change username, clear cookies and reload the page</p>
                    <form action="" onsubmit="setUsername(event)" class="grid grid-cols-4 gap-4 rounded border bg-slate-100 p-4 shadow-sm">
                        <input
                            id="usernameInput"
                            type="text"
                            placeholder="Enter your username..."
                            autocomplete="off"
                            class="col-span-3 rounded border bg-slate-50 p-2 underline-offset-2 focus:border-violet-700 focus:outline-none focus:ring-1 focus:ring-violet-700 disabled:underline"
                        />
                        <button
                            id="usernameButton"
                            class="col-span-1 rounded border bg-violet-700 p-2 uppercase text-white transition-colors hover:bg-violet-600 disabled:bg-slate-600 disabled:hover:bg-slate-600"
                        >
                            Set
                        </button>
                    </form>
                    <form action="" onsubmit="sendMessage(event)" class="flex flex-col gap-4 rounded border bg-slate-100 p-4 shadow-sm">
                        <textarea
                            id="messageInput"
                            placeholder="Type your message here..."
                            autocomplete="off"
                            class="rounded border bg-slate-50 p-2 focus:border-violet-700 focus:outline-none focus:ring-1 focus:ring-violet-700"
                        ></textarea>
                        <button
                            id="messageButton"
                            class="rounded border bg-violet-700 p-2 uppercase text-white transition-colors hover:bg-violet-600 disabled:bg-slate-600 disabled:hover:bg-slate-600"
                            disabled
                        >
                            Send
                        </button>
                    </form>
                </div>
                <ul id="messageList" class="col-span-2 list-disc rounded border bg-slate-100 p-4 pl-8 shadow-sm"></ul>
            </div>
        </main>
        <script src="/static/js/script.js"></script>
    </body>
</html>
